
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Raleway+Dots&family=Titillium+Web:wght@200&display=swap');

html{
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    background-color: #071b30;
    overflow-x: hidden;
}
nav{
    width: 100%;
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    justify-content: space-around;
    top: 0;
    z-index: 100000;
}
.navbar-center{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar-right {
    text-align: right;
}
#cyscomlogo {
    width: 60px;
    height: 60px;
}
#cyscom {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}
.main{
    padding-top: 12vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-image: url(bg.png);
    background-size: cover;
    background-attachment: fixed;
}
.logo-container{
    display: flex;
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}
.play {
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.play:hover {
    background-color: #fce4bc;
    color: #6e2e3a;
}
.zyphper-logo-content{
    margin-top: 100px;
}
.logo {
    width: fit-content;
    margin: 0 auto;
    height: auto;
    padding-top: 20px;
}
.zypherlogo {
    width: 300px;
    height: 180px;
    margin: 0 auto;
}
.main-content {
    display: flex;
    flex-direction: row;
    padding-top: 130px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.content-container{
    max-width: 1200px;
    width: 90%;
    padding-top: 60px;
    text-align: center;
    margin: 0 auto;
}
.left, .right{
    width: 100%;
    margin: 0 3vw;
}
.decipher {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: right;
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 78px;
    z-index: 1;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.savethedate {
    padding: 40px 0 10px;
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 29px;
    letter-spacing: 0.145em;
    color: #ffffff;
}
.date {
    padding-bottom: 30px;
    font-family: "Kosugi Maru";
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    /* letter-spacing: 0.2em; */
    -webkit-text-stroke: 2px #6e2e3a;
    -webkit-text-fill-color: #fce4bc;
}
.register-container{
    padding-bottom: 40px;
}
.register-button{
    padding: 20px 30px 10px;
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.75);
    border: 3px solid #fff;
    border-radius: 38px;
    -webkit-text-stroke: 3px #507483;
    transition: 0.3s, color 0.3s;
    cursor: pointer;
}
.register-button:hover {
    background-color: #507483;
    color: #fff;
}
@media (max-width: 1130px) {
    .body {
        position: relative;
    }
    .main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-content{
        flex-direction: column;
        align-items: center;
        justify-self: center;
        text-align: center;
    }
    .righ, .left{
        margin: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 700px) {
    .main-content{
        flex-direction: column;
        align-items: center;
        justify-self: center;
    }
}
@media (max-width: 635px) {
    nav{
        padding: 10px 0 0;
        font-size: 10px;
    }
    #cyscomlogo {
        width: 40px;
        height: 40px;
    }
    #cyscom {
        font-size: 15px;
    }
    .nav-content {
        display: none;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 20px 0;
    }
    .nav-content-mobile{
        display: block;
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        height: auto;
        font-family: "Nunito", sans-serif;
        font-size: 25px;
    }
    .navbar-center{
        display: flex;
        flex-direction: row;
    }
    .home{
        margin-right: 2px;
    }
    .play{
        margin-right: 0 ;
    }
    .row-one{
        display: flex;
        align-items: center;
    }
    
    .logo-container{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    
    .zypherlogo {
        width: 200px;
        height: auto;
        margin: 0 auto;
    }
    .logo-content{
        margin-top: 144.5px;
    }
    .main-content{
        padding-top: 160px;
    }
    .content-container{
        text-align: center;
        max-width: 600px;
        margin: 0 auto !important;
    }
    .left, .right{
        width: 100%;
        text-align: center;
    }
    .left{
        order: 2;
    }
    .righ{
        order: 1;
    }
    .decipher {
        font-size: 50px;
        line-height: 55px;
    }
    .savethedate{
        font-size: 20px;
    }
    .date{
        font-size: 40px;
    }
    .register-button {
        padding: 12px 20px 5px;
        background-color: transparent;
        border: none;
        text-decoration: none;
        font-family: "League Spartan";
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.75);
        background-color: #6c9baf;
        border: 3px solid #507483;
        border-radius: 38px;
        -webkit-text-stroke: 2px #507483;
        transition: background-color 0.3s, color 0.3s;
        cursor: pointer;
    }
    .section-container{
        width: 100%;
        margin: 0 auto;
    }
}
.scroll-down-page {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100vw;
    padding: 30px 0;
}
.event-section{
    max-width: 1200px;
    width: 90%;
}
.event-desc {
     
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}
.event-desc ul {
    list-style: none;
    padding: 0;
}
.event-desc ul li {
    margin-bottom: 5px;
}
.event-rules {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}
.event-rules ul {
    list-style: none;
    padding: 0;
}
.event-rules ul li {
    margin-bottom: 5px;
}
.faq {
    max-width: 90%;
    margin: 0 auto;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}
.faq-box {
    max-width: 1200px;
    margin: 10px auto;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: left;
}
.query-container{
    border: 1px solid #ddd;
    border: 10px;
    margin-bottom: 20px;
}
.faq-box .question {
    background-color: #354443;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Nunito";
    text-decoration: none;
    color: #fce4bc;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.faq-box .answer {
    background-color: #fce4bc;
    padding: 15px;
    font-size: 25px;
    font-family: "Nunito";
    text-decoration: none;
    color: #555;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
/* .faq-box:hover {
    background-color: #e0e0e0;
} */
.landing-page {
    background-attachment: fixed;
}
.scroll-down-page {
    background-attachment: fixed;
}
/* footer{
    background-color: black;
} */